<!-- Navigation Bar -->

<div class="nav-container">
    <nav class="navbar">

        <div id="navbar-logo">
            <div class="logo">
                {{!-- <i class='bx bx-droplet'></i> --}}
                <i class='bx bxs-award'></i>
                {{!-- <i class='bx bxs-bar-chart-square'></i> --}}
                {{!-- <i class='bx bxs-bulb'></i> --}}
                {{!-- <i class='bx bxs-grid-alt'></i> --}}
                {{!-- <i class='bx bxs-dashboard'></i> --}}
                {{!-- <i class='bx bxs-bot'></i> --}}
                {{!-- <i class='bx bxs-flame'></i> --}}
                {{!-- <i class='bx bx-fingerprint'></i> --}}
                {{!-- <i class='bx bx-loader-circle'></i> --}}
                <div class="logo_name"><a href="/">CryptoSphere</a></div>
            </div>
        </div>

        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        
        <div class="nav-menu-access-group">

            {{>menubar}}
            
            {{>accessbar}}

        </div>
        
    </nav>
</div>

